* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: 0;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

body,
html {
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
}

.page {
  min-width: 100vw;
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  -ms-scroll-limit: 0 0 0 0;
  -ms-overflow-style: none;
  overscroll-behavior: none;
}

@media (min-width: 390px) {
  .page {
    min-width: 390px;
  }
}
